<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">

    <head>
        <title>Home Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="container">

            <div class="row">
                <div class="col-2" layout:fragment="sidebar">
                    <h1>Sidebar</h1>
                    <a href="#">Login</a>
                </div>
                <div class="col" layout:fragment="content">
                    <h1>Welcome to the Index page</h1>
                    <br>This content is replacing the content of the layout:fragment="content"<br>
                    placeholder in layout.html</p>
                    <h1 th:text="${'Hello :' + item.name +' '+ item.surname}"></h1>
                    <h1 th:text="${'Hello2 :' + item2.name +' '+ item2.surname}"></h1>
                    <p th:text="${item.name}"></p>
                </div>
            </div>

        </div>
    </body>
</html>